body{
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 40px;
}

.container{
    width: 900px;
    margin: auto;

    background: white;cd 
    padding: 20px;

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* IMAGEN */

.cupcake{
    width: 250px;

    float: left;

    margin-right: 20px;
    margin-bottom: 10px;

    shape-outside: circle(85% at 10% 50%) border-box;

    clip-path: circle(45%);
}

/* TEXTO */

h2{
    margin-top: 0;
    color: #333;
}

p{
    text-align: justify;
    line-height: 1.8;
    color: #444;
}